<% include ../partials/header %>

<ul class="nav nav-tabs">
  <li role="presentation"><a href="/admin/orders/pending">Pending Orders</a></li>
  <li role="presentation"><a href="/admin/orders/completed">Completed Orders</a></li>
  <li role="presentation" class="active"><a href="#">Item List</a></li>
  <li role="presentation"><a href="/admin/users">User List</a></li>
</ul>

<h1>All Beverages</h1>
<hr>

<table class="table" id="orders">
  <thead class="thead-inverse">
    <tr>
      <th>Name <i class="fa fa-sort" aria-hidden="true"></i></th>
      <th>Type <i class="fa fa-sort" aria-hidden="true"></i></th>
      <th>Is Available</th>
    </tr>
  </thead>
    <tbody>
      <% items.forEach(function(item){ %>
            <tr>
            <td><%= item.name %></td>
            <% if(item.isCoffee) { %>
                <td>Coffee</td>
            <% } else { %>
                <td>Tea</td>
            <% } %>
            <% if(item.isAvailable) { %>
                <td><a href="/admin/items/available/<%= item._id %>"><i class="fa fa-check" aria-hidden="true"></i></a></td>
            <% } else { %>
                <td><a href="/admin/items/available/<%= item._id %>"><i class="fa fa-times" aria-hidden="true"></i></a></td>
            <% } %>
            </tr>
      <% }) %>
    </tbody>

  <tfoot class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Is Available</th>
    </tr>
  </tfoot>

</table>

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/javascript/admin.js"></script>

<% include ../partials/footer %>