<% include ../partials/header %>

<div class="container">

    <h1 style="text-align:center;">Create a New Item</h1>

    <div class="row">
        <div style="width: 30%; margin: 25px auto;">
            <form action="/items" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="item[name]" placeholder="name">
            </div>
            <div class="form-group">
                <input class="form-control" type="number" name="item[prive]" placeholder="price per night" min="0.01" step="0.01">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="item[image]" placeholder="image URL">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="item[description]" placeholder="description">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Submit</button>
            </div>
            </form>
            <a href="/campgrounds">Go Back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>