<% include partials/header %>

<div class="container">
    <div class="jumbotrop">
        <h1>Welcome to Impact Coffee!</h1>

        <h4>Serving the Decorah area since 2013</h4>
    </div>
</div>
<% include partials/footer %>