<% include ../partials/header %>
<link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>Select Time</h1>

            <form action="#" method="POST">
                <div class="form-group">
                    <label for"pickupTime">Pickup Time</label>
                    <input id="pickupTime" name="pickupTime" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form> 
            <p>Dont have an account? <a href="/register">Click here to register.</a></p>
        </div>
    </div>
</div>

<script type="text/javascript" src="javascript/pickup.js"></script>
<script type="text/javascript" src="https://unpkg.com/flatpickr"></script>
<% include ../partials/footer %>